body {
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: 100vh;
    background-color: rgb(21, 34, 78);
    font-family: sans-serif;
}

.score {
    color: aliceblue;
    height: 20vh;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.score h2 {
    font-size: 30px;
}

.score p {
    text-align: center;
    padding: 10px;
    font-size: 25px;
}

#computer-choice {
    width: 240px;
    height: 240px;
    background-color: cyan;
    margin-top: 10px;
}

#player-choice {
    width: 240px;
    height: 240px;
    background-color: yellow;
    margin-top: 10px;
}

#choices {
    width: 240px;
    height: 80px;
    background-color: green;
    margin: 0 auto;
    margin-top: 10px;
}

#choices img {
    width: 80px;
    height: 80px;
}